.header {
  background-color: #0f2551;
  padding: 0.5rem;
  vertical-align: middle;
  color: #fff;

  .logo {
    float: left;
    padding-right: 1rem;
  }

  .main-menu-container {
    float: left;
    border-left: 1px solid #2a3f66;
    padding-left: 1rem;
    margin-top: 0.5rem;
    ul.main-menu {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        float: left;
        color: #9fabc4;

        &:hover {
          color: #fff;
        }
        a {
          cursor: pointer;
          margin: 0.2rem 0.5rem;
          padding-bottom: 0.3rem;
          font-weight: 600;
          &:hover {
            text-decoration: none;
            border-bottom: 3px solid #3972f5;
          }
        }
      }
    }
  }
  .help {
    padding-right: 1rem;
    border-right: 1px solid #2a3f66;
    vertical-align: middle;
    color: #9fabc4;
    font-size: 0.8rem;
    font-weight: 600;
  }
  .account {
    padding-left: 1rem;
    margin-right: 1rem;
    .details {
      label {
        font-size: 0.8rem;
        display: block;
        text-align: right;
      }
      label.type {
        color: #8694b0;
      }
    }
    .icon {
      margin-left: 0.8rem;
      background-color: #8660f1;
      padding: 0.4rem;
      border-radius: 4px;
    }
  }
}
